@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* VARIABLES */
:root {
    --dark-blue: #333652;
    --yellow: #FAD02C;
    --blue-gray: #90ADC6;
    --pewter: #E9EAEC;
}

/* GENERIC CLASSES */
.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: #333652;
}

ul, ol, li {
    list-style: none;
}

h1 {
    color: var(--yellow);
    font-size: 80px;
    font-family: 'Kaushan Script', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2, p {
    color: var(--yellow);
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
}

button {
    padding: 10px;
    border: solid 1px var(--yellow);
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    font-size: 20px;
    transition: box-shadow 0.25s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px var(--blue-gray);
}

/* PAGE STYLE */
#conteiner {
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

#intial-content {
    gap: 80px;
}

#select-game-type {
    gap: 15px;
}

#second-content {
    align-self: flex-start;
    margin-top: 60px;
    gap: 80px;
}

.content-select-emoji > p {
    width: 250px;
    text-align: center;
}

.element-emoji {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    transition: 0.25s;
}

.content-select-emoji .element-emoji {
    cursor: pointer;
}

.element-emoji::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100px;
    font-size: 55px;
}

.element-emoji:hover {
    text-shadow: 0 0 15px var(--blue-gray);
}

.emoji-programmer::after {
    content: "👨🏻‍💻";
}

.emoji-cowboy::after {
    content: "🤠";
}

.emoji-robot::after {
    content: "🤖";
}

.emoji-cat::after {
    content: "😺";
}

.emoji-alien::after {
    content: "👽";
}

.content-select-emoji .emoji-selected {
    text-shadow: 0 0 15px var(--pewter);
}

.content-select-emoji .emoji-unaviable {
    opacity: 40%;
    cursor: not-allowed;
    text-shadow: none;
}

.default-btn {
    width: 250px;
}

.consteiner-buttons {
    gap: 20px;
}