@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* VARIABLES */
:root {
    --dark-blue: #333652;
    --yellow: #FAD02C;
    --blue-gray: #90ADC6;
    --pewter: #E9EAEC;
}

@keyframes handle-opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


/* GENERIC CLASSES */
.open-opacity {
    animation: handle-opacity 0.8s;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: #333652;
}

ul, ol, li {
    list-style: none;
}

h1 {
    color: var(--yellow);
    font-size: 80px;
    font-family: 'Kaushan Script', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2, p {
    color: var(--yellow);
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
}

button {
    padding: 10px;
    border: solid 1px var(--yellow);
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 600;
    transition: box-shadow 0.25s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px var(--blue-gray);
}

/* PAGE STYLE */
#conteiner {
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

#type-game-selection-page {
    gap: 80px;
}

#select-game-type {
    gap: 15px;
}

#emoji-selection-page {
    gap: 50px;
}

#conteiner-select-emojis {
    height: 320px;
}

.content-select-emoji > p {
    width: 250px;
    text-align: center;
}

.element-emoji {
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.content-select-emoji .element-emoji {
    cursor: pointer;
}

.element-emoji::after {
    font-size: 55px;
}

.content-select-emoji .element-emoji:hover {
    text-shadow: 0 0 15px var(--blue-gray);
}

.emoji-programmer::after {
    content: "👨🏻‍💻";
}

.emoji-cowboy::after {
    content: "🤠";
}

.emoji-robot::after {
    content: "🤖";
}

.emoji-cat::after {
    content: "😺";
}

.emoji-alien::after {
    content: "👽";
}

.emoji-selected {
    text-shadow: 0 0 15px var(--pewter) !important;
}

.content-select-emoji .emoji-unaviable {
    opacity: 40%;
    cursor: not-allowed;
    text-shadow: none;
}

.content-select-emoji .emoji-unaviable:hover {
    text-shadow: none;
}

.default-btn {
    width: 250px;
}

.conteiner-buttons {
    gap: 20px;
}

#game-page {
    gap: 50px;
}

#scorebord {
    gap: 20px;
}

.conteiner-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 5px 15px;
    background-color: var(--yellow);
    border-radius: 5px;
    transition: box-shadow 0.25s;
}

.element-emoji.scorebord-emoji {
    width: 45px;
    height: 45px;
    justify-content: flex-start;
}

.element-emoji.scorebord-emoji::after {
    font-size: 30px;
}

.score {
    width: 30px;
    color: var(--dark-blue);
    text-align: right;
    font-size: 30px;
    font-weight: 600;
}

:root {
    --squares-width-height: 110px;
    --bord-gap-size: 5px;
}

#stage-game {
    width: calc((var(--squares-width-height) * 3) + (var(--bord-gap-size) * 2));
    height: calc((var(--squares-width-height) * 3) + (var(--bord-gap-size) * 2));
}

#bord {
    width: 100%;
    background-color: var(--blue-gray);
    gap: var(--bord-gap-size);
}

.line-bord {
    display: flex;
    gap: var(--bord-gap-size);
}

.squeres-bord {
    width: var(--squares-width-height);
    height: var(--squares-width-height);
    background-color: var(--dark-blue);
    cursor: pointer;
}

.element-emoji.squeres-bord::after {
    line-height: var(--squares-width-height);
    animation: handle-opacity 0.25s;
}

#game-result-page .element-emoji {
    height: 110px;
}

#game-result-page .element-emoji::after {
    font-size: 80px;
}

p#txt-result {
    font-size: 40px;
}

@media (max-width: 800px) {
    #emoji-selection-page .element-emoji {
        width: 75px;
        height: 75px;
    }

    .element-emoji::after {
        font-size: 50px;
    }
}

@media (max-width: 650px) {
    #conteiner-select-emojis {
        gap: 40px;
    }

    .content-select-emoji {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 70px;
    }
    
    p {
        font-size: 25px;
    }
    
    h2 {
        font-size: 42px;
    }

    #emoji-selection-page {
        gap: 25px;
    }

    .conteiner-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .default-btn {
        width: 200px;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 57px;
    }
    
    p {
        font-size: 22px;
    }
    
    h2 {
        font-size: 37px;
    }

    button {
        font-size: 18px;
        padding: 8px;
        border-radius: 4px;
    }

    #emoji-selection-page .element-emoji {
        width: 85px;
        height: 85px;
    }

    #conteiner-select-emojis .emoji-cat, #conteiner-select-emojis .emoji-alien {
        display: none;
    }
}

@media (max-width: 370px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 32px;
    }

    #emoji-selection-page .element-emoji {
        width: 85px;
        height: 85px;
    }

    #conteiner-select-emojis .emoji-cat, #conteiner-select-emojis .emoji-alien {
        display: none;
    }

    :root {
        --squares-width-height: 90px;
        --bord-gap-size: 3px;
    }

    #bord .element-emoji::after {
        font-size: 40px;
    }

    #scorebord {
        gap: 20px;
    }
    
    .conteiner-score {
        flex-direction: column;
        gap: 5px;
        padding: 0px 30px;
    }
    
    .score {
        text-align: center;
    }
    
    #game-result-page .element-emoji::after {
        font-size: 70px;
    }
    
    p#txt-result {
        font-size: 30px;
    }
}
