body {
    background-color: rgb(30, 30, 30);
    text-align: center;
    font-size: 30px;
}

h1 {
    color: ghostwhite;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.square {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 2px;
    border: 2px solid ghostwhite;
    background-color: rgb(187, 187, 187);
}

.shield, .sword {
    position: relative;
}

.shield::after, .sword::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100px;
}

.shield::after {
    content: "🛡️";
    font-size: 60px;
}

.sword::after {
    content: "⚔️";
    font-size: 55px;
}
